body{
  background-image:url(img/spighe.JPG);
  background-size:100%;
}


h1{
  color:black;
font-family: 'Nothing You Could Do', cursive;
  font-size:60px;
  margin-top:20px;
  text-align: center;
}

.ben{
    position: absolute;
    left: 0;
    top: 33vh;
    width: 100%;
    text-align: center;
    font-size: 80px;
font-family: 'Nothing You Could Do', cursive;
    animation: mymove 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0.5;
    transition: all 0.5s;
}

@keyframes mymove {
    from {top: 0%;  opacity:1; color:white;}
    to {top: 30%; opacity:1; color:black;}
}



h3{
  color:white;
font-family: 'Nothing You Could Do', cursive;
  font-size:60px;
  margin-bottom:10px;
  top: 50%;
  text-align:center;

}

a{
  text-decoration:none;
  color:white;
}

a:hover{
  color:black;
}
